html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logoContainer {
  animation: spin 15s linear infinite;
}

.App-logo {
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}